html {
  background-color: #2D353B00;
  background: "black";
}

body {
  margin: 0px;
  background-color: #2D353B00;
  font-family: monospace;
  font-size: 18px;

}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#glCanvas {
  width: 100%;
  flex-grow: 3;
}
